WorkFlows/e-Cert_Email/ecert-workflow.json
{
  "name": "E-Cert Generator - Form to Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Form Responses 1",
          "mode": "name"
        },
        "event": "rowAdded"
      },
      "id": "trigger-node",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "presentationId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SLIDES_TEMPLATE_ID",
          "mode": "id"
        },
        "title": "=Certificate - {{ $json[\"Name\"] }}"
      },
      "id": "copy-slide-node",
      "name": "Copy Slide Template",
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [220, 0],
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Slides Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": {
          "__rl": true,
          "value": "={{ $json.presentationId }}",
          "mode": "id"
        },
        "texts": {
          "textValues": [
            {
              "text": "{{Name}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json[\"Name\"] }}",
              "matchCase": true
            },
            {
              "text": "{{IC}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json[\"IC Number\"] }}",
              "matchCase": true
            }
          ]
        }
      },
      "id": "replace-text-node",
      "name": "Replace Placeholders",
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [440, 0],
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Slides Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.presentationId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "export-pdf-node",
      "name": "Export as PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [660, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json[\"Email\"] }}",
        "subject": "Your Certificate - Congratulations!",
        "message": "Dear {{ $('Google Sheets Trigger').item.json[\"Name\"] }},\n\nThank you for completing the feedback form.\n\nPlease find your certificate attached to this email.\n\nCongratulations!\n\nBest regards",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          }
        }
      },
      "id": "gmail-node",
      "name": "Send Certificate Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Form Responses 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Sent"
          },
          "matchingColumns": ["Email"],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string"
            }
          ]
        }
      },
      "id": "update-sheet-node",
      "name": "Update Sheet Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Replace Placeholders').item.json.presentationId }}",
          "mode": "id"
        }
      },
      "id": "cleanup-node",
      "name": "Delete Temp Slide",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1320, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Drive Account"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Copy Slide Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Slide Template": {
      "main": [
        [
          {
            "node": "Replace Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Placeholders": {
      "main": [
        [
          {
            "node": "Export as PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export as PDF": {
      "main": [
        [
          {
            "node": "Send Certificate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Certificate Email": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Status": {
      "main": [
        [
          {
            "node": "Delete Temp Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
